.heading
{
    text-align: left;
    width: 100%;
}

.heading h3
{
    display: inline;
}

.heading button
{
    border: 1px soild white;
    float: right;  
}

#start, #status, #restart
{
    font-size: 22px;
}

h4
{
    line-height: 2;
    margin: 0px;
}

.model_dialog
{
    width: 90%;
}
